body {
  margin: 0;
  line-height: normal;
}


:root {
  /* fonts */
  --font-roboto: Roboto;



}


.desktop-child {
  position: absolute;
  top: -558px;
  left: -422px;
  border-radius: 50%;
  background-color: #c7acda;
  width: 2307px;
  height: 959px;
}

.desktop {
  position: relative;
  background-color: white;
  width: 100%;
  height: 859px;
  overflow: hidden;
  text-align: left;
  font-size: 17px;
  color: black;
  font-family: var(--font-roboto);
}

.box-cont {
  position: relative;
  display: flex;
  /* left: 27%; */
  width: 761px;
  height: 582px;
  background-color: white;
  top: 117px;
  text-align: center;
  /* color: white; */
  color: #000;
  left: 339px;
  overflow: hidden;

  background: linear-gradient(-135deg, transparent 45px, white 0)top left;
  filter: drop-shadow(0px 0px 30px rgba(0, 0, 0, 0.25));

}

.box-left {
  position: relative;
  color: black;
  margin-left: -30px;
  max-width: 50%;
  overflow: inherit;


  flex: 1;

}

.img1 {
  display: none;
}

.sample-left {
  position: absolute;
  top: 0;
  left: 19px;
  width: 100%;
  color: white;
  width: 100%;
  height: 100%;

  padding: 20px;
  background: url(./image\ \(1\).png);
  z-index: 3;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 87%, 0px 0px);
}

.heading-1 {
  color: #FFF;
  font-family: Roboto;
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;

}

.left-text {
  font-weight: 400;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}

.box-right {
  /* color: #000; */
  justify-content: center;
  align-items: center;
  max-width: 50%;
}

.container h1 {

  color: #000;
  font-family: Roboto;
  font-size: 35px;
  margin-top: 30px;
  display: flex;
  margin-left: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  align-items: center;
  justify-content: center;
}

input {
  margin-bottom: 20px;
  margin-top: 10px;

}

.email {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  display: block;
  margin-right: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.dob {
  color: #000;
  font-size: 20px;
  display: block;
  margin-right: 40px;
  font-style: normal;
  font-weight: 700;
  display: block;
  line-height: normal;
}

.date-container {
  margin: 10px;
  width: 64px;
  height: 42px;
  margin-bottom: 50px;
  margin-top: 10px;
  display: inline-block;

}

.date-label {
  display: block;
  justify-content: space-between;
  margin-bottom: 5px;
  font-weight: bold;
}

.date-label1 {
  display: block;
  justify-content: space-between;
  /* margin-bottom: 5px; */
  margin-bottom: -5px;
  font-weight: bold;
}

#month,
#day,
#year {
  width: 64px;
  height: 42px;
}


.password {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  display: block;
  margin-right: 0px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#password {
  margin-top: 10px;
  margin-left: 70px;
  width: 290px;
  height: 42px;
  flex-shrink: 0;
  border: 2px solid #BDBDBD;
  background: #FFF;
}

#email {
  margin-top: 10px;
  margin-left: 70px;
  width: 290px;
  height: 42px;
  flex-shrink: 0;
  border: 2px solid #BDBDBD;
  background: #FFF;
  margin-bottom: 0px;
}

.ques {
  color: #000;
  font-family: Roboto;
  font-size: 20px;
  display: block;
  margin-left: 50px;
  font-style: normal;
  font-weight: 700;

  line-height: normal;
  margin-bottom: 5px;
}

.container input[type="checkbox"] {
  display: none;

}

.toggle-color-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.custom-checkbox {
  width: 15px;
  height: 15px;
  border: 2px solid #007bff;
  border-radius: 50%;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.toggle-color-checkbox input[type="checkbox"]:checked+.custom-checkbox {
  background-color: #007bff;
  border: 2px solid #007bff;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 100px;
  margin-left: 65px;
  margin-top: -10px;
  margin-bottom: 30px;


}

.toggle-color-checkbox {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.custom-checkbox {
  width: 15px;
  height: 15px;
  border: 2px solid #007bff;
  border-radius: 50%;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.toggle-color-checkbox input[type="checkbox"]:checked+.custom-checkbox {
  background-color: #007bff;
  border: 2px solid #007bff;
}

.submit {
  width: 188px;
  height: 44px;
  border-radius: 4px;
  background: #2D9CDB;
  color: white;
  border: none;
  font-size: 15px;
  color: #FFF;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 50px;
}


@media (min-width: 750px) and (max-width: 1100px) {
  .desktop-child {
    top: -358px;
    left: -222px;
    width: 1507px;
    height: 659px;
  }

  .desktop {
    height: 659px;
    width: 100%;
  }

  .box-cont {
    width: 501px;
    height: 562px;
    top: 67px;
    left: 239px;
  }

  .box-left {
    margin-left: -10px;
  }

  .sample-left {
    top: 0;
    left: 0;
    padding: 10px;
  }

  .heading-1 {
    font-size: 35px;
  }

  .left-text {
    margin-left: 30px;
    margin-right: 30px;
  }

  .box-right {
    max-width: 50%;
  }

  .container h1 {
    font-size: 25px;
    margin-left: -40px;

  }

  .email {
    margin-right: 60px;
  }

  .dob {
    margin-right: 30px;
  }

  .date-container {
    width: 54px;
    height: 32px;
    margin-bottom: 30px;
  }

  .date-label {
    font-weight: bold;
  }

  .date-label1 {
    margin-bottom: -5px;
  }

  #month,
  #day,
  #year {
    width: 54px;
    height: 32px;
  }

  .password {
    margin-top: 10px;
  }

  #password {
    width: 200px;

    margin-left: 30px;
  }

  #email {
    margin-left: 30px;
    margin-bottom: 0;
    width: 200px;
  }

  .ques {
    margin-left: 30px;
  }

  .checkbox-container {
    gap: 50px;

    margin-left: 10px;
    margin-bottom: 20px;
  }

  .submit {
    margin-right: 30px;
  }
}


@media (max-width: 767px) {
  .desktop-child {
    /*     
      top: 1009px;
      left: 000px;
      right:1200px;
      border-radius: 80%;
      background-color: #c7acda;
      width: 130%;
      height: 90px; */

    top: 1004px;
    left: -33px;
    border-radius: 50%;
    background-color: #c7acda;
    width: 500px;
    height: 300px;
    background: linear-gradient(-360deg, transparent 90px, #c7acda 0);

  }

  .desktop {
    display: flex;
    flex-direction: column;
    overflow: visible;

  }

  .box-cont {
    width: 100%;
    height: 1000px;
    left: 0;
    margin-top: -110px;
    display: flex;
    flex-flow: column;
    overflow: visible;
    background: none;

  }

  .img1 {
    display: flex;
    margin-top: -30px;
    width: 100%;
    max-height: 170%;
  }

  .heading-1 {
    position: absolute;
    top: 15px;
    left: 100px;
    color: #FFF;
    font-family: Roboto;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .left-text {
    position: absolute;
    top: 110px;
    left: 0px;

    font-weight: 400;
    color: #FFF;

  }

  .box-left {
    position: relative;
    color: black;
    margin-left: -50px;
    margin-right: -60px;
    max-width: 100%;
    max-height: 50%;
    overflow: inherit;
    flex: 1;
  }

  .sample-left {
    position: absolute;
    top: 0;
    left: 19px;
    right: 19px;
    margin-left: 12px;
    margin-right: 5px;
    width: 100%;
    color: black;
    width: 100%;
    max-height: 50%;
    padding: 20px;
    background: none;
    z-index: 3;
    clip-path: none;
  }

  .box-right {
    margin-top: -50px;
    justify-content: normal;
    align-items: normal;
    max-width: 100%;
  }

  .box-right .container h1 {
    margin-left: -20px;
    font-size: 30px;
  }





  input {
    margin-bottom: 20px;
    margin-top: 10px;

  }

  .email {
    margin-right: 110px;

  }

  .dob {
    margin-right: 65px;
  }

  .date-container {
    width: 85px;
    height: 42px;
    margin: 50px;
    margin-bottom: 50px;
    margin-top: 10px;
  }

  .date-label {
    margin-bottom: 5px;
  }

  .date-label1 {
    margin-bottom: -9px;
    font-weight: bold;
  }

  .date-container {
    margin: 10px 0;
  }

  #month,
  #day,
  #year {
    width: 64px;
    height: 42px;
  }


  .password {
    margin-top: 30px;
    margin-right: 5px;
  }

  #password {

    margin-left: 50px;
  }

  #email {
    margin-left: 35px;

  }

  .ques {

    margin-left: 40px;
  }



  .checkbox-container {
    gap: 40px;
    margin-left: 85px;
  }


  .submit {

    margin-right: 65px;
  }

}

@media (max-width: 320px) {

  .img1 {
    margin-top: -30px;
    width: 120%;
    max-height: 170%;
  }

  .box-cont {
    max-width: 100%;
    margin-top: -170px;
  }

  .heading-1 {
    font-size: 24px;
    margin-left: -50px;

  }

  .left-text {
    /* max-height: 100px; */
    width: 200px;
    margin-left: 20px;

    top: 50px;
  }

  .box-left {
    margin-left: -40px;
    margin-right: 0;
    max-height: none;
  }

  .sample-left {
    top: 50px;
    padding: 10px;
  }

  .box-right .container h1 {
    font-size: 20px;
  }

  input {
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .email {
    margin-right: 0;
  }

  .dob {
    margin-right: 0;
  }

  .date-container {
    width: 100%;
    margin: 0;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  .date-label {
    margin-top: 5px;
    margin-bottom: 0;
  }

  .date-label1 {
    margin-bottom: 0;

  }

  #month,
  #day,
  #year {
    width: 100%;
    margin-left: 10px;

  }

  .password {
    margin-top: 10px;
    margin-right: 0;
  }

  #password {
    width: 200px;
    margin-left: 0px;

  }

  #email {
    width: 200px;

    margin-left: 0px;
  }

  .ques {
    margin-left: 0;
  }

  .checkbox-container {
    gap: 10px;
    margin-left: 10px;
  }

  .submit {
    margin-right: 0;
  }
}

@media (max-width: 190px) {
  .img1 {
    margin-top: -30px;
    width: 150%;
    max-height: 170%;
  }
}